

.default-layout{
    display: grid;
    grid-template-rows: 80px auto 3rem;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
th{
    color: blanchedalmond;
    background-color: #381460; 
}

.breadcrumbs{
    padding-top: 20px;
    padding-left: 10px;
    background :#fe346e;
    
}
.breadcrumb-non{
    color: #381460; 
    font-weight: bold;
}

.breadcrumb .text-white:not(.active) {
    color: white;
  }
.header{
    grid-area: header;
}
.main{
    grid-area: main;
    min-height:88vh;
    position: relative;
    max-height: 150vh;
    background:#ffbd69;
}
.footer{
    grid-area: footer;
 
}
.first-color { 
	background: #381460; 
}
	
.second-color { 
	background: #b21f66; 
}

.third-color { 
	background: #fe346e; 
}

.fourth-color { 
	background:#ffbd69;
}
.bton{
    background: #b21f66; 
     border-radius: 5%;
     padding: 10px;
     font-size: 1.8rem;
}


.jumbopage{
    background-color:#000000; 
    color: rgb(255, 255, 255);
    font-weight: bolder;
    display: flex;
    justify-content: center;
    max-width:1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 6px 10px 6px 0px black;
   padding: 50px;

   height:72vh;
   display: flex;

}
.jumbopage img{
    height: 350px
}
.colholder{

  height: 10%; /* Set the height of the colholder to fill its parent */
}

